/*======================================
            ALERTAS
======================================*/

.alert{

    width:100%;

    padding:14px 16px;

    border-radius:10px;

    margin:18px 0;

    font-size:14px;

    font-weight:500;

}

.alert-success{

    background:#E8F5E9;

    color:#2E7D32;

    border-left:4px solid #2E7D32;

}

.alert-danger{

    background:#FDEDED;

    color:#C62828;

    border-left:4px solid #C62828;

}

.alert-warning{

    background:#FFF8E1;

    color:#F57F17;

    border-left:4px solid #FBC02D;

}

.alert-info{

    background:#E3F2FD;

    color:#1565C0;

    border-left:4px solid #1976D2;

}